.buttons button{
    padding: 10px;
    background-color: #222;
    border: 2px solid #222;
    color: #fff;
    cursor: pointer;
}

main{
    padding: 300px;
    text-align: center;    
}

#counter {
    font-size: 50px;s
    margin-bottom: 20px;

}

body{
    background-color: aqua;
    }

.titulo{

    text-align: center;
    margin-top: 60px;
    font-size: 30px;
    background-color: #000000;
    color: #fff;
    border: 4px solid #222;
}